## Basic Data processing 
- initiating sklearn libraries

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
%matplotlib inline

### Loading dataset
- I had problem to read dataset using panda, because original file has double cotation(before and after every column name). I removed all of that, after that work perfectly.

In [31]:
data_df = pd.read_csv("winequality.csv", index_col= False, sep =';')
data_df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dataset Feature

In [32]:
print("*********************************************************************************************")
print(data_df.info())
print("*********************************************************************************************")
print(data_df.describe())
print("*********************************************************************************************")
data_df.isnull().sum()

*********************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   object
 11  quality"              1599 non-null   int64
 12  Unnamed: 12           0 non-null      float64
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           0 non-null      float64
 15  Unnamed: 15           0 non-null      float64
 16  Unnamed: 16           0 non-null      float64
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           0 non-null      float64
 19  Unnamed: 19           0 non-null      float64
 20  Unnamed: 20           0 non-null      float64
 21  Unnamed: 21           0 non-null      float64
 22  Unnamed: 22           0 non-null      float64
dtypes: float64(21), int64(1), object(1)
memory usage: 287.4+ KB
None
*********************************************************************************************
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     2.208702
std       0.047065            10.460157             32.895324     9.664060
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000   100.369000

                pH    sulphates  ...  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
count  1599.000000  1599.000000  ...          0.0          0.0          0.0
mean      3.311113     0.658149  ...          NaN          NaN          NaN
std       0.154386     0.169507  ...          NaN          NaN          NaN
min       2.740000     0.330000  ...          NaN          NaN          NaN
25%       3.210000     0.550000  ...          NaN          NaN          NaN
50%       3.310000     0.620000  ...          NaN          NaN          NaN
75%       3.400000     0.730000  ...          NaN          NaN          NaN
max       4.010000     2.000000  ...          NaN          NaN          NaN

       Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Unnamed: 21  Unnamed: 22
count          0.0          0.0
mean           NaN          NaN
std            NaN          NaN
min            NaN          NaN
25%            NaN          NaN
50%            NaN          NaN
75%            NaN          NaN
max            NaN          NaN

[8 rows x 22 columns]
*********************************************************************************************

fixed acidity              0
volatile acidity           0
citric acid                0
residual sugar             0
chlorides                  0
free sulfur dioxide        0
total sulfur dioxide       0
density                    0
pH                         0
sulphates                  0
alcohol                    0
quality"                   0
Unnamed: 12             1599
Unnamed: 13             1599
Unnamed: 14             1599
Unnamed: 15             1599
Unnamed: 16             1599
Unnamed: 17             1599
Unnamed: 18             1599
Unnamed: 19             1599
Unnamed: 20             1599
Unnamed: 21             1599
Unnamed: 22             1599
dtype: int64